.white-frame {
	border: 1px solid lightgray;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 10px;
	margin: 10px auto;
	background: white;
}

.hidden {
	visibility: hidden;
}

.bar_td {
	padding-left: 10px;
	padding-right: 10px;
}

.state_span {
	padding: 4px;
	font-size: smaller;
	width: 100px;
}

.image-combo {
	float: left;
	margin-right: 20px;
	width: 200px;
	text-align: left;
	font-weight: normal;
}

.task-type {
	border: 1px solid;
	padding: 2px;
	border-radius: 5px;
	border-color: darkgray;
}