.white-frame {
	border: 1px solid lightgray;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 10px;
	margin: 10px auto;
	background: white;
}

.hidden {
	visibility: hidden;
}

.bar_td {
	padding-left: 10px;
	padding-right: 10px;
}

.state_span {
	padding: 4px;
	font-size: smaller;
	width: 100px;
}

.image-combo {
	float: left;
	margin-right: 20px;
	width: 200px;
	text-align: left;
	font-weight: normal;
}

.task-type {
	border: 1px solid;
	padding: 2px;
	border-radius: 5px;
	border-color: darkgray;
}

.footer-time {
	padding: 10px;
	position: fixed;
	bottom: 0;
	margin-bottom: 0;
	margin: 0px auto;
	width: 100%;
	border: 1px solid lightgray;
	border-radius: 5px;
	background: white;
}

/* Blink */
@
-webkit-keyframes blinker {
	from {opacity: 1.0;
}

to {
	opacity: 0.0;
}

}
.blink {
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
}

table.button-table tr td .buttons_panel {
	display: none;
}

table.button-table tr:hover td .buttons_panel {
	display: block;
}

.buttons_panel{
	display: none;
}

.table_sprint:hover .buttons_panel {
	display: block;
}

input.search-query {
	padding-left: 26px;
}

form.form-search {
	padding-right: 10px;
	position: relative;
}

form.form-search:before {
	display: block;
	width: 14px;
	height: 14px;
	content: "\e003";
	font-family: 'Glyphicons Halflings';
	background-position: -48px 0;
	position: absolute;
	top: 5px;
	left: 8px;
	opacity: .5;
	z-index: 1000;
}

.filter_span {
	border: 1px solid;
	padding: 5px;
	border-radius: 3px;
	background-color: white;
}

.mod-header {
	background: url(/tasq/resources/img/mod_header_bg.png) repeat-x center;
	margin-top: 15px;
	padding-bottom: 5px;
}

.mod-header-title {
	background: white;
	display: inline;
	padding: 5px;
	font-weight: bold;
}

.left-margin {
	padding-left: 20px;
}

.table_state {
	margin: 10px;
	padding: 0 10px;
	width: 25%;
	display: table-cell;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-color: lightgray;
}

.state_default {
	border-style: dashed;
	border-width: 2px;
	border-color: lightgray;
	border-radius: 5px;
}

.state_hover {
	border-style: dashed;
	border-width: 2px;
	border-color: blue;
	border-radius: 5px;
}

.state_highlight {
	background: blue;
}
.side-bar{
	height: 100%;
	left: 0;
	position: absolute;
	text-indent: -9999em;
	top: 0;
	width: 5px;
}