a.theme {
	color: white;
}

.caret.theme {
	border-top-color: white;
	border-bottom-color: white;
}

div.navbar.navbar-fixed-top.theme {
	background-color: mediumseagreen;
}

div.modal-header.theme {
	background-color: mediumseagreen;
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

thead.theme {
	background: mediumseagreen;
	color: white;
}
.agile-card {
	color: inherit;
	border: 1px solid;
	padding: 5px;
	margin-bottom: 5px;
	border-color: lightgray;
	background-color: rgba(249, 253, 255, 1)
}
.agile-list{
	color: inherit;
	border: 1px solid;
	padding: 5px;
	margin-bottom: 5px;
	border-color: lightgray;
	background-color: rgba(249, 253, 255, 1)
}
.table_sprint {
	border-style: dashed;
	border-width: 2px;
	border-color: rgba(205, 236, 252, 1);
	padding: 5px;
	border-radius: 5px;
}
span.badge.theme{
	background-color: rgb(51, 161, 103);
}
span.badge.theme.zero{
	color: rgb(51, 161, 103);
}
.side-bar.theme{
	background-color: mediumseagreen;
}
.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus
	{
	color: #fff;
	background-color: mediumseagreen;
}
.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th {
	background-color: #D7FDDD;
}
span.tag.label.label-info.theme {
  background-color: mediumseagreen;
}
.pagination>.active>a, .pagination>.active>span, .pagination>li>a:focus, .pagination>li>a:hover {
  background-color: rgba(60, 179, 113, 0.2);
}

.bs-docs-sidebar .nav>.active:focus>a, .bs-docs-sidebar .nav>.active:hover>a,
	.bs-docs-sidebar .nav>.active>a {
	padding-left: 18px;
	font-weight: 700;
	color: mediumseagreen;
	background-color: transparent;
	border-left: 2px solid mediumseagreen;
}
.bs-docs-sidebar .nav>li>a:focus, .bs-docs-sidebar .nav>li>a:hover {
	padding-left: 19px;
	color: mediumseagreen;
	text-decoration: none;
	background-color: transparent;
	border-left: 1px solid mediumseagreen;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: white;
  background-color: mediumseagreen;
  background-image: none;
  filter: none;
}