body {
	font-family: 'Open Sans', sans-serif;	
}
a.theme {
	color: white;
}
a.btn.login.theme:hover {
	color: #b7dbff;
}

.theme.text{
	color:white
}
.caret.theme {
	border-top-color: white;
	border-bottom-color: white;
}

div.navbar.navbar-fixed-top.theme {
	background-color: #2c5aa0;
}

div.modal-header.theme {
	background-color: #2c5aa0;
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

thead.theme {
	background: #2c5aa0;
	color: white;
}
.agile-card {
	color: inherit;
	border: 1px solid;
	padding: 5px;
	margin-bottom: 5px;
	border-color: lightgray;
	background-color: rgba(249, 253, 255, 1);
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.agile-list{
	color: inherit;
	border: 1px solid;
	padding: 5px;
	margin-bottom: 5px;
	border-color: lightgray;
	background-color: rgba(249, 253, 255, 1)
}
.table_sprint {
	border-style: dashed;
	border-width: 2px;
	border-color: rgba(205, 236, 252, 1);
	padding: 5px;
/* 	border-radius: 5px; */
}
span.badge.theme{
	background-color: rgb(69, 161, 199)
}
span.badge.theme.zero{
	color: rgb(69, 161, 199)
}
.side-bar.theme{
	background-color: #2c5aa0;
}
.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus
	{
	color: #fff;
	background-color: #2c5aa0;
}
nav.navbar {
	color: #fff;
	background-color: #2c5aa0;
}

.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th {
	background-color: #E6F1F5
}
span.tag.label.label-info.theme {
  background-color: #2c5aa0;
}
.pagination>.active>a, .pagination>.active>span, .pagination>li>a:focus, .pagination>li>a:hover {
  background-color: rgba(44, 90, 160, 0.2);
}
.bs-docs-sidebar .nav>.active:focus>a, .bs-docs-sidebar .nav>.active:hover>a,
	.bs-docs-sidebar .nav>.active>a {
	padding-left: 18px;
	font-weight: 700;
	color: #2c5aa0;
	background-color: transparent;
	border-left: 2px solid #2c5aa0;
}
.bs-docs-sidebar .nav>li>a:focus, .bs-docs-sidebar .nav>li>a:hover {
	padding-left: 19px;
	color: #2c5aa0;
	text-decoration: none;
	background-color: transparent;
	border-left: 1px solid #2c5aa0;
}
