<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http pattern="/resources/**" security="none"></security:http>
    <security:http auto-config="true" disable-url-rewriting="true"
                   use-expressions="true">
        <security:form-login login-page="/signin"
                             authentication-failure-url="/signin?error=1"
                             always-use-default-target="false"
                             authentication-success-handler-ref="localeSettingAuthenticationSuccessHandler"/>
        <security:logout logout-url="/logout"/>
        <security:remember-me key="tasq-aWreDWE4343asrwerewraWeFFTgxcv9u1X" services-ref="rememberMeServices"/>
        <security:session-management
                session-fixation-protection="migrateSession"
                session-authentication-error-url="/signin?error=1">
            <security:concurrency-control
                    expired-url="/signin" session-registry-alias="sessionRegistry"/>
        </security:session-management>
        <security:intercept-url pattern="/" access="permitAll"/>
        <security:intercept-url pattern="/confirm"
                                access="permitAll"/>
        <security:intercept-url pattern="/export_template.xsl"
                                access="permitAll"/>
        <security:intercept-url pattern="/resetPassword"
                                access="permitAll"/>
        <security:intercept-url pattern="/password"
                                access="permitAll"/>
        <security:intercept-url pattern="/signin"
                                access="permitAll"/>
        <security:intercept-url pattern="/signup"
                                access="permitAll"/>
        <security:intercept-url pattern="/default/**"
                                access="permitAll"/>
        <security:intercept-url pattern="/**"
                                access="isAuthenticated()"/>
    </security:http>

    <security:authentication-manager
            erase-credentials="true">
        <security:authentication-provider
                user-service-ref="userService">
            <security:password-encoder ref="passwordEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>